@charset "UTF-8";

#container {
	width:620px;
	height:430px;
	padding:25px 50px 25px 50px;
	background-image: url(../images/background.png);
}

#header {
	width:auto;
	height:45px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	text-align:center;
}
#title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #000;
	position: absolute;
	left: 220px;
	top: 118px;
	text-align: center;
	width: 300px;
}

#group {
	width: 36px;
	height: 36px;
	position: absolute;
	left: 349px;
	top: 170px;
}

#slate {
	width:auto;
	height:200px;
	margin:25px 0px;
	padding:75px 56px 19px 56px;
}

#working {
	width:170px;
	height:170px;
	float:left;
	margin-right:50px;
}

#answer {
	width:170px;
	height:170px;
	float:left;
	margin-left:90px;
	display:none;
}

.row1 {
	width:auto;
	height:40px;
}

.row2 {
	width:auto;
	height:90px;
}

.column {
	width:40px;
	height:90px;
	float:left;
}

.blank {
	background:#fff;
	width:40px;
	height:40px;
	float:left;
}

.slot1 {
	width:90px;
	height:40px;
	float:left;
}

.slot2 {
	width:40px;
	height:90px;
	float:left;
}

	
.symbol {
	width: 90px;
	height: 90px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	color: #333;
}

#navi {
	width:auto;
	height:45px;
}

#button {
	width:180px;
	height:45px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
}

.check {
	background-image:url(../images/check_answer.png);
}


.uncheck {
	background-image:url(../images/hide_answerover.png);
}

img {border:none;
}
